@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@font-face {
    font-family: 'minecraft enchantment';
    src: url(./minecraft-enchantment.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Minecraft', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: url('./bilder/bookshelves.png');
}

h1{
    margin: 40px;
    margin-top: 50px;
    padding: 10px;
    background: white;
    border-radius: 10px;
}
h2{
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

#enchantBilde{
    position: absolute;
    z-index: -1;
    top: 210px;
    width: 400px;
}

#galax, #norm{
    letter-spacing: 10px;
    margin: 10px;
    font-size: 30px;
    padding-left: 10px;
}

#galax{
    font-family: 'minecraft enchantment';
    padding: 10px 25px 10px 40px;
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 5px;
    margin-bottom: 50px;
    border-inline: 2px solid black;
    border-top: 2px solid black;
}
#norm{
    text-align: center;
    outline: black;
    border: none;
    width: 90px;
    padding: 5px;
    border-bottom: 2px solid black;
    background: rgb(255, 255, 255);
    border-inline: 2px solid black;
    border-radius: 5px;
    margin-bottom: 50px;
}
#norm:focus{
    background: rgba(255, 246, 146, 0);
    border-inline: none;
}
p{
    padding: 10px;
    background: rgb(143, 255, 235);
    border-radius: 5px;
}

@media (min-width: 726px){
    #enchantBilde{
        top: 175px;
    }
}
@media (max-width: 417px){
    #enchantBilde{
        top: 245px;
    }
}